<div *ngIf="identity">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="user-logged-nav">
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="oi oi-musical-note"></span>
      {{ title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" href="#">
            <span class="oi oi-dial"></span>
            Buscar
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/artist',1]">
            <span class="oi oi-person"></span>
            Artista
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" href="#">
            <span class="oi oi-box"></span>
            Album
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="{{url + 'get-image-user/' + identity.image}}" class="rounded" style="width: 150px; height: 150px;"
              alt="No cuenta con una imagen" style="height: 30px; width: 25px;">
            {{identity.name}}
          </a>
          <div class="dropdown-menu bg-dark" aria-label="navbarDropdown">
            <a href="/" class="dropdown-item" (click)="logout()">
              <span class="oi oi-account-logout"></span>
              Cerrar Sesión
            </a>
            <a [routerLink]="['/mis-datos']" class="dropdown-item">
              <span class="oi oi-cog"></span>
              Mis Datos
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid jumbotron">
    <router-outlet></router-outlet>
  </div>
</div>
<div style="height: 100vh;background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));"
  *ngIf="!identity">
  <section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-3 mt-md-4 pb-2">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-3">Please enter your email and password!</p>
                  <div class="form-outline form-white mb-4">
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email"
                      class="form-control form-control-lg" required />
                    <label class="form-label" for="email">Email</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input name="password" id="password" #password="ngModel" [(ngModel)]="user.password" type="password"
                      class="form-control form-control-lg" required />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                  <input type="submit" value="Login" class="btn btn-outline-light btn-lg px-5" />
                </form>
              </div>
              <div>
                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
