<div *ngIf="identity">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="user-logged-nav">
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="oi oi-musical-note"></span>
      {{ title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" href="#">
            <span class="oi oi-dial"></span>
            Buscar
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/artist',1]">
            <span class="oi oi-person"></span>
            Artista
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" href="#">
            <span class="oi oi-box"></span>
            Album
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="{{url + 'get-image-user/' + identity.image}}" class="rounded" style="width: 150px; height: 150px;"
          alt="No cuenta con una imagen" style="height: 30px; width: 25px;">
            {{identity.name}}
          </a>
          <div class="dropdown-menu bg-dark" aria-label="navbarDropdown">
            <a href="/" class="dropdown-item" (click)="logout()">
              <span class="oi oi-account-logout"></span>
              Cerrar Sesión
            </a>
            <a [routerLink]="['/mis-datos']" class="dropdown-item">
              <span class="oi oi-cog"></span>
              Mis Datos
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <p>Estas logeado en la aplicación</p>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!identity" class="text-center">
  <div class="row">
    <div class="col-sm">
      <h1>Identificate</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-sigin">
        <p>
          <input placeholder="Correo Electrónico" type="email" #email="ngModel" name="email" [(ngModel)]="user.email"
            class="form-control" required />
          <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
        </p>
        <p>
          <input placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password"
            type="password" class="form-control" required />
        </p>
        <div *ngIf="errorMenssage">
          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{errorMenssage}}
          </div>
        </div>
        <p>
          <input type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block" />
        </p>
      </form>
    </div>

    <div class="col-sm">
      <h1>Registrate</h1>
      <div *ngIf="alertRegister">
        <div class="alert alert-primary" role="alert">
          {{alertRegister}}
        </div>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="form-sigin">
        <p>
          <input placeholder="Nombre" type="text" class="form-control" #nameReg="ngModel" name="name"
            [(ngModel)]="userRegiser.name" required />
        </p>
        <p>
          <input placeholder="Apellido" type="text" class="form-control" required #surnameReg="ngModel" name="surname"
            [(ngModel)]="userRegiser.surname" />
        </p>
        <p>
          <input placeholder="Correo Electronico" type="text" class="form-control" required #emailReg="ngModel"
            name="email" [(ngModel)]="userRegiser.email" />
        </p>
        <p>
          <input placeholder="Contraseña" type="password" class="form-control" required #passwordReg="ngModel"
            name="password" [(ngModel)]="userRegiser.password" />
        </p>
        <p>
          <input type="submit" value="Registrar" class="btn btn-lg btn-primary btn-block" />
        </p>
      </form>
    </div>
  </div>


</div>