<div *ngIf="identity">
  <h1>
    <a [routerLink]="['/']">
      <span class="oi oi-musical-note"></span>
      {{ title }}
    </a>
  </h1>
  <ul id="navigation" class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="oi oi-dial"></span>
        Buscar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="oi oi-person"></span>
        Artista
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="oi oi-box"></span>
        Album
      </a>
    </li>
  </ul>
  <nav class="navbar nav justify-content-end navbar-light bg-light" id="user-logged">
    <span class="navbar-brand" id="identityName">{{identity.name}}</span>
    <span class="btn btn-warning" (click)="logout()">
      <span class="oi oi-account-logout"></span>
      Cerrar Sesión
    </span>
    <a [routerLink]="['/mis-datos']">
      <span class="oi oi-cog"></span>
    </a>
  </nav>
  <p>Estas logeado en la aplicación</p>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!identity" class="text-center">
  <div class="row">
    <div class="col-sm">
      <h1>Identificate</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-sigin">
        <p>
          <input placeholder="Correo Electrónico" type="email" #email="ngModel" name="email" [(ngModel)]="user.email"
            class="form-control" required />
          <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
        </p>
        <p>
          <input placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password"
            type="password" class="form-control" required />
        </p>
        <div *ngIf="errorMenssage">
          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{errorMenssage}}
          </div>
        </div>
        <p>
          <input type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block" />
        </p>
      </form>
    </div>

    <div class="col-sm">
      <h1>Registrate</h1>
      <div *ngIf="alertRegister">
        <div class="alert alert-primary" role="alert">
          {{alertRegister}}
        </div>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="form-sigin">
        <p>
          <input placeholder="Nombre" type="text" class="form-control" #nameReg="ngModel" name="name" [(ngModel)]="userRegiser.name" required />
        </p>
        <p>
          <input placeholder="Apellido" type="text" class="form-control" required #surnameReg="ngModel" name="surname" [(ngModel)]="userRegiser.surname" />
        </p>
        <p>
          <input placeholder="Correo Electronico" type="text" class="form-control" required #emailReg="ngModel" name="email" [(ngModel)]="userRegiser.email" />
        </p>
        <p>
          <input placeholder="Contraseña" type="password" class="form-control" required #passwordReg="ngModel" name="password" [(ngModel)]="userRegiser.password" />
        </p>
        <p>
          <input type="submit" value="Registrar" class="btn btn-lg btn-primary btn-block" />
        </p>
      </form>
    </div>
  </div>


</div>